body {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

a {
  color: inherit;
  outline: none;
}

.button {
  font: inherit;
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;
  text-decoration: none;

  border: none;
  outline: none;

  background-color: #ee3643;
  color: #ffffff;
}

.header {
  background-color: #f3f7f9;
}

.header-menu {
  height: 42px;

  display:flex;
  justify-content: center;

  font-size: 17px;
  line-height: 18px;

  color: #ffffff;
  background-color: #293449;
}

.header-menu a {
  display:flex;
  justify-content:center;
  align-items:center;
}

.header-logo {
  margin: 0;
}

.header-logo a {
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;

  padding: 12px 56px;
}

.header-logo a:hover,
.header-logo a:focus {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.header-logo a:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.search {
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  line-height: 18px;

  background-color: transparent;
  border: none;
  outline: none;
}

.search::placeholder {
  color: #ffffff;
}

.search:hover {
  background-color: #212a3a;
}

.search:active {
  background-color: #293449;
}

.search:focus {
  background-color: #ffffff;
  color: #000000;
}

.bookmarks,
.header-cart {
  text-decoration: none;
  color: #ffffff;
}

.header-cart-not-empty {
  background-color: #ee3643;
}

.bookmarks:hover,
.header-cart:hover,
.bookmarks:focus,
.header-cart:focus {
  background-color: #212a3a;
}

.bookmarks:active,
.header-cart:active {
  color: #b3b4b6;
  background-color: #161d29;
}

.order-button {
  font-size: 18px;
  text-transform: none;
  background-color: #63a63e;
}

.order-button:hover,
.order-button:focus {
  background-color: #5fbb2d;
}

.order-button:active {
  color: #b6c8ae;
  background-color: #518534;
}

.introduction {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;

  color: #ee3643;
}

.phone-number {
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;

  color: #ee3643;

  border: 4px solid #ffffff;
}

.header-company-address {
  font-size: 14px;
  line-height: 24px;

  color: #32425c;
}

.user-account-button {
  font-size: 21px;
  line-height: 21px;
  text-transform: none;

  color: #000000;
  background-color: #ffffff;
}

.user-account-buttons:hover,
.user-account-buttons:focus {
  color: #ee3643;
}

.user-account-buttons:active {
  color: #cacaca;
}

.user-upper-panel {
  font-size: 21px;
  line-height: 21px;

  background-color: #ffffff;
}

.user-upper-panel a {
  text-decoration: none;
  color: #000000;
}

.user-upper-panel:hover,
.user-upper-panel:focus {
  color: #32425c;
}

.user-upper-panel:active {
  color: #c5c5c5;
}

.user-lower-panel a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;

  color: #32425c;
}

.user-lower-panel a:hover,
.user-lower-panel a:focus {
  color: #ee3643;
}

.user-lower-panel a:active {
  color: #c5c5c5;
}

.header-site-navigation ul {
  list-style: none;

  font-size: 17px;
  line-height: 17px;

  color: #ffffff;
  background-color: #32425c;

  box-shadow: inset 0 -5px 0 0 #293449;
}

.site-sections {
  display: flex;
  flex-direction: row;
}

.site-sections a {
  text-decoration: none;
}

.site-sections a:hover,
.site-sections a:focus {
  background-color: #293449;
}

.site-sections a:active {
  background-color: #1d2739;
}

.site-sections a {
  color: #ffffff;
}

.breadcrumbs {
  list-style: none;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;

  color: #000000;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs a {
  text-decoration: none;

  color: #000000;
}

.catalog-menu {
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.new-product {
  position: relative;
  overflow: hidden;
}

.new-product::after {
  content: "new";
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 35px;
  padding-right: 35px;

  font-size: 14px;

  color: #ffffff;
  background-color: #ee3643;
  transform: rotate(45deg) translate(25px, -15px);
}

.catalog-menu h2 {
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;

  color: #32425c;
  background-color: #f2f6f8;
}

.buy-button,
.bookmark-button {
  font-family: 'Cuprum', sans-serif;
  border-radius: 1px;
}

.buy-button {
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.bookmark-button {
  color: #000000;
}

.buy-button:hover,
.buy-button:focus {
  background-color: #5fbb2d;
}

.buy-button:active {
  background-color: #518534;
}

.bookmark-button {
  background-color: #ffffff;

  border: 3px solid #63a63e;
  outline: none;
}

.bookmark-button:hover,
.bookmark-button:focus {
  border-color: #32425c;
}

.bookmark-button:active {
  color: #c1c6ce;
  border-color: #c1c6ce;
}

.filter legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;

  color: #000000;
}

.filter fieldset {
  border: none;
}

.filter ul{
  list-style: none;
}

.filter-list li {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-button {
  font-size: 13px;

  color: #000000;
  background-color: #ffffff;

  border: 1px solid #e5e5e5;
  border-radius: 1px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.product {
  position: relative;
}

.order-panel {
  position: absolute;
  top: 0;
  left: 0;
}

.product {
  display: flex;
  flex-direction: column;

  margin-top: 20px;
  margin-right: 20px;

  border: 1px solid #e5e5e5;
}

.product:hover {
  box-shadow: 0 10px 25px -15px #000000;
}

.product:hover .order-panel {
  display: flex;
}

.product:hover .product-img {
  display: none;
}

.order-panel {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.product-list h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;

  color: #000000;

  order: 1;
}

.product-list del {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  color: #999999;
  order: 2;
}

.product-price {
  display: flex;

  order: 3;
}

.product-price span {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 17px;
  line-height: 18px;
  font-weight: bold;

  color: #ffffff;
  background-color: #ee3643;
}

.product-price:after {
  content: "";
  font-size: 0;

  border: 19px solid transparent;
  border-left-color: #ee3643;
}

.company-name {
  font-size: 30px;
  line-height: 30px;

  text-transform: uppercase;
  color: #000000;
}

.features,
.map p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;

  color: #000000;
}

.partners {
  list-style-type: none;
}

.partners li {
  font-size: 18px;
  line-height: 20px;

  color: #000000;
}

.map-header {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;

  color: #000000;
}

.footer-company-info {
  background-color: #32425c;
}

.footer-logo {
  display: flex;
}

.footer-logo a {
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 #b52933;

  padding: 16px 41px 20px;
}

.footer-company-address {
  font-size: 18px;
  line-height: 24px;

  color: #f3f7f9;
}

.footer-site-navigation ul {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.company-info-pages li {
  display: inline-block;
}

.company-info-pages a {
  text-decoration: none;
  color: #f1f5f7;
}

.company-info-pages a:hover,
.company-info-pages a:focus {
  text-decoration: underline;
}

.company-info-pages a:active {
  color: #707a8a;
}

.catalog-sections li {
  display: inline-block;
}

.catalog-sections a {
  text-decoration: none;
  color: #ffd180;
}

.catalog-sections a:hover,
.catalog-sections a:focus {
  text-decoration: underline;
}

.catalog-sections a:active {
  color: #a6906e;
}

.footer-copyright-social-feedback {
  background-color: #293449;
  margin-top: -18px;
}

.copyright {
  font-size: 16px;
  line-height: 18px;

  color: #ffffff;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.social {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 5px 5px 0;
  background-color: #212a3a;
  border-radius: 50%;
}

.social::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social:hover,
.social:focus,
.social:active {
   background-color: #ee3643;
 }

.social-vk::before {
   background-image: url("../img/icon-vk.svg");
 }

.social-fb::before {
   background-image: url("../img/icon-fb.svg");
 }

.social-insta::before {
   background-image: url("../img/icon-insta.svg");
 }

.developer-info {
  font-size: 16px;
  line-height: 18px;

  color: #ffffff;
}

.developer-info a {
  text-decoration: none;
  color: #ffd180;
}

.developer-info a {
  text-decoration: none;
  color: #ffd180;
}

.developer-info a:hover,
.developer-info a:focus {
  text-decoration: underline;
}

.developer-info a:active {
  color: #ee3643;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  /*
  position: fixed;
  right: 200vw; /* с запасом на случай горизонтальных флуктуаций при анимациях
  */
}
