body {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;

  min-width: 960px;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.section-header {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;

  text-transform: uppercase;

  margin: 0;
}

.button {
  font: inherit;
  font-size: 14px;
  line-height: 18px;

  box-sizing: border-box;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;

  border: none;

  background-color: #ee3643;
  color: #ffffff;

  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.container {
  width: 940px;

  margin: 0 auto;
}

.header {
  background-color: #f3f7f9;

  padding-bottom: 60px;
}

.header-menu {
  width: 100%;

  margin-bottom: 40px;

  font-size: 17px;

  color: #ffffff;
  background-color: #293449;
}

.header-menu-container {
  display: flex;
  flex-wrap: wrap;
}

.company-logo {
  text-align: center;

  padding-right: 5px;
  padding-left: 5px;

  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.header-logo {
  width: 210px;

  padding-top: 13px;
  padding-bottom: 4px;
}

.header-logo:hover,
.header-logo:focus {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.header-logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.search-form {
  position: relative;
}

.search-input {
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;

  width: 270px;
  height: 42px;

  padding-bottom: 2px;
  padding-left: 48px;

  background-color: transparent;
  border: none;
}

.search-icon {
  position: absolute;

  top: 0;
  left: 0;
}

.search-input,
.search-input::placeholder {
  color: #ffffff;
}

.search-input:hover {
  background-color: #212a3a;
}

.search-input:hover + .search-icon line,
.search-input:hover + .search-icon circle {
  stroke: #ffffff;
}

.search-input:active + .search-icon line,
.search-input:active + .search-icon circle {
  stroke: #6a7180;
}

.search-input:focus {
  color: #000000;
}

.search-input:focus + .search-icon line,
.search-input:focus + .search-icon circle {
  stroke: #ee3643;
}

.search-input:active {
  background-color: #293449;
}

.search-input:focus {
  background-color: #ffffff;
  color: #000000;
}

.header-menu-button {
  display: block;

  font-size: 17px;
  line-height: 18px;

  text-align: left;
  text-decoration: none;
  text-transform: none;

  padding-top: 12px;
  padding-right: 5px;
  padding-bottom: 12px;

  background-color: #293449;
}

.header-menu-button::before {
  content: "";

  position: absolute;

  top: 12px;
  left: 17px;

  width: 15px;
  height: 16px;

  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.header-menu-button:hover,
.header-menu-button:focus {
  background-color: #212a3a;
}

.header-menu-button:hover::before,
.header-menu-button:focus::before {
  opacity: 1;
}

.header-menu-button:active {
  color: #b3b4b6;
  background-color: #161d29;
}

.header-menu-button:active::before {
  opacity: 0.5;
}

.bookmarks-button {
  position: relative;

  width: 102px;
  padding-left: 43px;
}

.bookmarks-button::before {
  background-image: url("../img/icon-bookmark.svg");
}

.cart-button {
  position: relative;

  width: 97px;

  padding-left: 48px;
}

.cart-button::before {
  background-image: url("../img/icon-cart.svg");
}

.header-menu-button-not-empty {
  background-color: #ee3643;
}

.order-button {
  text-align: center;

  width: 140px;

  padding-left: 5px;

  background-color: #63a63e;
}

.order-button:hover,
.order-button:focus {
  background-color: #5fbb2d;
}

.order-button:active {
  color: #b6c8ae;
  background-color: #518534;
}

.header-middle {
  display: flex;

  min-height: 83px;

  margin-bottom: 35px;
}

.introduction {
  font-size: 15px;
  line-height: 23px;
  font-style: italic;

  margin: 0;
  padding-top: 9px;
  padding-left: 52px;
  padding-right: 58px;

  width: 200px;

  color: #ee3643;
}

.contacts {
  text-align: center;

  width: 270px;

  padding-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.header-phone-number {
  display: block;

  font-size: 21px;
  line-height: 21px;

  text-decoration: none;

  width: 220px;

  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 32px;

  color: #ee3643;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 12px center;

  border: 3px solid #ffffff;
}

.header-company-address {
  font-size: 14px;
  line-height: 24px;

  margin: 0;
  padding-top: 4px;
  padding-right: 4px;
  padding-left: 4px;

  color: #32425c;
}

.user-account-buttons {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  margin-left: auto;
  padding-top: 6px;
}

.user-account-buttons-offline {
  width: 292px;
}

.user-account-buttons-online {
  width: 300px;
}

.user-account-button {
  display: block;

  position: relative;

  text-transform: none;
  text-decoration: none;

  font-size: 21px;
  line-height: 21px;

  margin-bottom: 5px;
  padding-top: 12px;
  padding-bottom: 12px;

  color: #000000;
  background-color: #ffffff;
  background-repeat: no-repeat;
}

.user-account-button::before {
  content: "";

  position: absolute;

  top: 14px;
  left: 14px;

  width: 21px;
  height: 18px;

  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.5;
}

.login-button {
  width: 70px;

  margin-left: 11px;
  padding-right: 4px;
  padding-left: 47px;
}

.login-button::before {
  background-image: url("../img/icon-login.svg");
}

.registration-button {
  width: 122px;

  margin-left: 10px;
  padding-right: 4px;
  padding-left: 24px;
}

.account-settings-button {
  width: 198px;

  padding-left: 47px;
  padding-right: 10px;
}

.account-settings-button::before {
  top: 13px;

  background-image: url("../img/icon-user.svg");
}

.logout-button {
  width: 45px;
}

.logout-button::before {
  background-image: url("../img/icon-logout.svg");
}

.user-account-button:hover,
.user-account-button:focus {
  color: #ee3643;
}

.user-account-button:active {
  color: #cacaca;
}

.user-account-button:hover::before,
.user-account-button:focus::before {
  opacity: 1;
}

.user-account-button:active::before {
  opacity: 0.4;
}

.user-upper-panel {
  display: flex;
}

.user-upper-panel a {
  text-decoration: none;
  color: #000000;
}

.user-upper-panel a:hover,
.user-upper-panel a:focus {
  color: #32425c;
}

.user-upper-panel a:active {
  color: #c5c5c5;
}

.user-lower-panel {
  display: flex;
  flex-wrap: wrap;

  list-style: none;

  width: 260px;

  margin: 0;
  padding-bottom: 3px;
  padding-left: 18px;
}

.user-lower-panel-href {
  position: relative;

  margin-right: 32px;
}

.user-lower-panel-href + .user-lower-panel-href::before {
  content: "";

  position: absolute;

  top: 9px;
  left: -17px;

  width: 4px;
  height: 4px;

  background-color: #32425c;

  border-radius: 50%;
}

.user-lower-panel a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;

  color: #32425c;
}

.user-lower-panel a:hover,
.user-lower-panel a:focus {
  color: #ee3643;
}

.user-lower-panel a:active {
  color: #c5c5c5;
}

.site-pages {
  display: flex;
  flex-wrap: wrap;

  list-style: none;

  font-size: 17px;

  margin: 0;
  padding-left: 20px;
  padding-right: 20px;

  color: #ffffff;
  background-color: #32425c;

  box-shadow: inset 0 -5px 0 0 #293449;
}

.site-pages a {
  display: block;

  text-align: center;

  line-height: 17px;

  text-decoration: none;

  padding-top: 20px;
  padding-bottom: 23px;

  color: #ffffff;
}

/* Стандартный паддинг в 30px для ссылок в блоке.
Ниже этот паддинг переопределен для каждой отдельной ссылки в целях точного попадания в макет. */
.site-page a {
  padding-left: 30px;
  padding-right: 30px;
}

.site-page:nth-child(1) a,
.site-page:nth-child(4) a {
  padding-left: 32px;
  padding-right: 32px;
}

.site-page:nth-child(2) a {
  padding-left: 31px;
  padding-right: 31px;
}

.site-page:nth-child(3) a,
.site-page:nth-child(7) a {
  padding-left: 28px;
  padding-right: 28px;
}

.site-page:nth-child(5) a {
  padding-left: 27px;
  padding-right: 27px;
}

.site-page:nth-child(6) a {
  padding-left: 35px;
  padding-right: 35px;
}

.site-pages a:hover,
.site-pages a:focus {
  background-color: #293449;
}

.site-pages a:active {
  background-color: #1d2739;
}

.promo-block {
  margin-bottom: 33px;
  padding-top: 59px;
}

.lower-promo-block {
  display: flex;
}

.product-categories {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  margin-top: 0;
  margin-bottom: 0;
  margin-left: -20px;
  padding: 0;
}

.promo-category {
  position: relative;

  width: 278px;

  margin-bottom: 20px;
  margin-left: 20px;
  padding-top: 21px;
  padding-left: 22px;
}

.promo-category h3 {
  width: 160px;

  font-size: 24px;
  font-weight: bold;

  line-height: 30px;

  color: #ffffff;

  margin-top: 0;
  margin-bottom: 12px;
  padding-right: 10px;
}

.promo-category-button {
  display: block;

  width: 135px;

  background-color: rgba(0, 0, 0, 0.1);
}

.promo-category-button:hover,
.promo-category-button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-category-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.product-category {
  background-repeat: no-repeat;
}

/* дефолтные цвета на случай добавления новых категорий */
.product-category:nth-child(3n) {
  background-color: #dc91d8;
}

.product-category:nth-child(3n+1) {
  background-color: #ffbf47;
}

.product-category:nth-child(3n+2) {
  background-color: #3bbce3;
}

.product-category:nth-child(1) {
  background-image: url("../img/promo-block-materials.svg");
  background-position: 213px 31px;
}

.product-category:nth-child(2) {
  background-image: url("../img/promo-block-instrument.svg");
  background-position: 197px 33px;
}

.product-category:nth-child(3) {
  background-image: url("../img/promo-block-equipment.svg");
  background-position: 191px 31px;
}

.product-category-button {
  margin-bottom: 22px;
  margin-left: 3px;
}

.promo-slider {
  position: relative;
}

.promo-slider-buttons {
  position: absolute;

  top: 110px;

  display: flex;

  box-sizing: border-box;

  width: 100%;

  padding-right: 10px;
  padding-left: 15px;
}

.promo-slider-button {
  position: relative;

  width: 45px;
  height: 50px;

  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;

  z-index: 1;
}

.promo-slider-button-next {
  margin-left: auto;
}

.promo-slider-button-back::before,
.promo-slider-button-back::after,
.promo-slider-button-next::before,
.promo-slider-button-next::after {
  content: "";

  position: absolute;

  width: 28px;
  height: 3px;

  background-color: #ffffff;
}

.promo-slider-button-back::before,
.promo-slider-button-back::after {
  left: 7px;
}

.promo-slider-button-next::before,
.promo-slider-button-next::after {
  right: 7px;
}

.promo-slider-button-back::before {
  top: 14px;

  transform: rotate(-45deg);
}

.promo-slider-button-back::after {
  top: 32px;

  transform: rotate(45deg);
}

.promo-slider-button-next::before {
  top: 14px;

  transform: rotate(45deg);
}

.promo-slider-button-next::after {
  top: 32px;

  transform: rotate(-45deg);
}

.promo-slide {
  position: relative;

  width: 596px;
  min-height: 243px;

  padding-top: 23px;
  padding-left: 24px;

  background-color: #685c53;
}

.promo-slide p {
  margin-top: 0;

  color: #ffffff;
}

.promo-slide h3 {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;

  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 2px;
  padding-right: 10px;

  color: #ffffff;
}

.promo-slide p {
  font-size: 18px;

  padding-right: 10px;
}

.promo-slide a {
  position: absolute;

  bottom: 22px;
  left: 25px;

  width: 195px;
}

.promo-slide-dots {
  position: absolute;

  top: 220px;
  left: 240px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;

  width: 150px;

  margin-top: 0;
  margin-left: -10px;
  margin-bottom: 0;
  padding: 0;
}

.promo-slide-dot {
  box-sizing: border-box;

  width: 10px;
  height: 10px;

  margin-bottom: 10px;
  margin-left: 10px;

  background-color: #ffffff;

  border-radius: 50%;
}

.promo-slide-dot-current {
  background-color: #ee3643;

  border: 2px solid #ffffff;
}

.promo-slide-1 {
  background-image: url("../img/promo-slider-perforafor.jpg");
  background-repeat: no-repeat;
}

.promo-slide-2 {
  background-image: url("../img/promo-slider-drill.jpg");
  background-repeat: no-repeat;
}

.service-categories {
  list-style: none;

  margin-top: -20px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-left: 0;
}

.service-category {
  padding-bottom: 1px;

  background-repeat: no-repeat;
}

/* дефолтные цвета на случай добавления новых категорий */
.service-category:nth-child(2n+1) {
  background-color: #8ed78f;
}

.service-category:nth-child(2n) {
  background-color: #ffc047;
}

.service-category:nth-child(1) {
  background-image: url("../img/promo-block-discounts.svg");
  background-position: 196px 26px;
}

.service-category:nth-child(2) {
  background-image: url("../img/promo-block-delivery.svg");
  background-position: 191px 32px;
}

.service-category-button {
  margin-bottom: 21px;
  margin-left: 1px;
}

.index-section {
  margin-bottom: 21px;
}

.section-header-wrap {
  display: flex;
  align-items: flex-start;

  padding-top: 25px;
  padding-right: 24px;
  padding-bottom: 26px;
  padding-left: 28px;
  background-color: #f9f5f0;
}

.section-header-wrap h2 {
  color: #32425c;

  margin-bottom: 0;
  padding-top: 5px;
  padding-right: 15px;
}

.view-all-button {
  flex-shrink: 0;

  width: 253px;

  margin-left: auto;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;

  list-style: none;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;

  color: #000000;

  margin-top: 22px;
  margin-bottom: 19px;
  padding-left: 30px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: -2px 1px;
}

.breadcrumbs li {
  position: relative;

  text-transform: uppercase;

  padding-left: 24px;
  padding-right: 18px;
}

.breadcrumbs li::before,
.breadcrumbs li::after {
  content: "";

  position: absolute;

  left: -2px;

  width: 8px;
  height: 2px;

  background-color: #c1c6ce;
}

.breadcrumbs li::before {
  top: 4px;

  transform: rotate(45deg);
}

.breadcrumbs li::after {
  top: 9px;

  transform: rotate(-45deg);
}

.breadcrumbs a {
  text-decoration: none;

  color: #000000;
}

.breadcrumbs li:last-child {
  cursor: default;
}

.catalog-menu {
  font-family: "PT Sans", "Arial", sans-serif;
}

.catalog-menu-header {
  padding-top: 30px;
  padding-right: 28px;
  padding-bottom: 29px;
  padding-left: 28px;

  margin-bottom: 20px;

  background-color: #f2f6f8;
}

.catalog-menu h2 {
  font-family: "Cuprum", sans-serif;
}

.catalog-sub-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;

  line-height: 18px;

  text-transform: uppercase;

  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 20px;

  background-color: #f7f3ec;

  border-radius: 3px;
}

.catalog-sub-header h3 {
  font: inherit;

  margin: 0;
}

.catalog-sub-header ul {
  display: flex;
  flex-wrap: wrap;

  list-style: none;

  margin-bottom: 0;
}

.category-sorting-list {
  list-style: none;

  width: 426px;

  margin-top: -5px;
  margin-left: 68px;
  padding: 0;
}

.category-sorting-item {
  margin-top: 5px;
  margin-left: 69px;
}

.category-sorting-item a {
  display: block;

  text-align: center;
  text-decoration: none;

  height: 18px;

  color: #c5c5c5;

  box-sizing: border-box;
  border-bottom: 1px dotted #ee3643;
}

.category-sorting-item a:hover,
.category-sorting-item a:focus {
  color: #000000;

  border-bottom: 1px solid #ee3643;
}

.category-sorting-item a:active,
.category-sorting-item-active a {
  color: #ee3643;

  border-bottom: none;
}

.up-down-sorting-list {
  width: 62px;

  margin-top: 0;
  margin-left: 29px;
  padding: 0;
}

.up-down-sorting-list li {
  margin-left: 13px;
}

.arrow {
  display: block;

  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;

  width: 10px;
  height: 10px;

  font-size: 0;
}

.arrow::before {
  content: "";

  display: block;

  border: 10px solid #c5c5c5;
  border-right-width: 5px;
  border-right-color: transparent;
  border-left-width: 5px;
  border-left-color: transparent;
}

.arrow-up::before {
  border-top-width: 0;
}

.arrow-down::before {
  border-bottom-width: 0;
}


.arrow:hover::before,
.arrow:focus::before {
  border-top-color: #000000;
  border-bottom-color: #000000;
}

.arrow:active::before,
.arrow-active::before {
  border-top-color: #ee3643;
  border-bottom-color: #ee3643;
}

.filter {
  width: 220px;
}

.filter-fieldset {
  border: none;

  margin: 0;
  padding: 0;

  border-bottom: 1px solid #e5e5e5;
}

.filter-fieldset:last-of-type {
  border-bottom: none;
}

.filter-legend {
  font-weight: bold;
  font-size: 17px;

  line-height: 30px;

  text-transform: uppercase;

  color: #000000;
}

.filter-price-legend {
  margin-bottom: 14px;
  padding-top: 11px;
}

.filter-list-legend {
  margin-bottom: 9px;
  padding-top: 16px;
}

.filter-list ul{
  list-style: none;

  margin: 0;
  padding-bottom: 7px;
  padding-left: 0;
}

.filter-list li {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.checkbox-list {
  margin-bottom: 2px;
}

.radio-list {
  margin-bottom: 55px;
}

.range-slider {
  display: flex;

  justify-content: center;
  align-items: center;

  height: 80px;

  background-color: #f7f3ec;

  border-radius: 3px;
}

.range-slider-track {
  position: relative;

  display: flex;

  width: 170px;

  padding-left: 11px;

  background-color: #d7dcde;
}

.range-slider-track-inside {
  width: 139px;
  height: 2px;

  background-color: #00ca74;
}

.range-slider-pin {
  position: absolute;

  top: -9px;

  box-sizing: content-box;

  width: 4px;
  height: 4px;

  padding: 0;

  background-color: #ababab;

  border: 8px solid #ffffff;
  border-radius: 50%;

  box-shadow: 0 2px 0 0 #e0ddd8;

  cursor: pointer;
}

.range-slider-pin-min {
  left: 0;
}

.range-slider-pin-max {
  left: 140px;
}

.range-slider-inputs {
  display: flex;
  align-items: center;

  margin-top: 9px;
  margin-bottom: 25px;
}

.range-slider-input {
  display: block;

  font-size: 17px;

  line-height: 18px;

  text-align: center;

  width: 95px;
  height: 38px;

  box-sizing: border-box;

  padding-right: 5px;
  padding-bottom: 1px;
  padding-left: 10px;

  border: none;
  border-radius: 3px;

  background-color: #f7f3ec;

  -moz-appearance:textfield;
}

.range-slider-input::-webkit-outer-spin-button,
.range-slider-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range-slider-inputs span {
  display: block;

  font-size: 16px;

  line-height: 18px;

  width: 14px;

  padding-left: 8px;
  padding-right: 8px;
}

.filter-item {
  position: relative;
}

.filter-item input + .checkbox-indicator {
  position: relative;

  display: table;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 34px;

  cursor: pointer;
}

.filter-item input:disabled + .checkbox-indicator {
  opacity: 0.4;

  cursor: default;
}

.filter-item input + .checkbox-indicator::before {
  content: "";

  position: absolute;

  left: 0;

  opacity: 0.7;
}

.filter-item input[type="checkbox"] + .checkbox-indicator::before {
  width: 19px;
  height: 19px;

  top: 4px;

  border: 2px solid #b4b4b4;
  border-radius: 3px;
}

.filter-item input + .checkbox-indicator::after {
  content: "";

  display: none;

  position: absolute;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;

  opacity: 0.7;
}

.filter-item input[type="checkbox"] + .checkbox-indicator::after {
  top: 4px;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-item input[type="checkbox"]:checked + .checkbox-indicator::before {
  display: none;
}

.filter-item input[type="radio"] + .checkbox-indicator::before {
  top: 2px;
  left: -1px;

  width: 18px;
  height: 18px;

  border: 3px solid #b4b4b4;
  border-radius: 50%;
}

.filter-item input[type="radio"] + .checkbox-indicator::after {
  top: 10px;
  left: 7px;

  width: 8px;
  height: 8px;

  background-color:  #b4b4b4;
  border-radius: 50%;
}

.filter-item input:hover + .checkbox-indicator::before,
.filter-item input:hover + .checkbox-indicator::after,
.filter-item input:focus + .checkbox-indicator::before,
.filter-item input:focus + .checkbox-indicator::after {
  opacity: 1;
}

.filter-item input:checked + .checkbox-indicator::after {
  display: block;
}

.filter-button {
  display: block;

  font-size: 13px;

  line-height: 18px;

  text-align: center;
  text-transform: uppercase;

  width: 140px;

  padding-top: 9px;
  padding-right: 10px;
  padding-bottom: 9px;
  padding-left: 10px;

  color: #000000;
  background-color: #ffffff;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.filter-button:hover,
.filter-button:focus {
  border-color: #c3c4c6;
}

.filter-button:active {
  border-color: #eb3742;
}


.main-catalog-menu {
  display: flex;
}

.product-menu {
  margin-left: auto;
}

.new {
  position: relative;
  overflow: hidden;
}

.new::after {
  content: "new";
  position: absolute;
  top: 0;
  right: -1px;
  padding-top: 1px;
  padding-right: 35px;
  padding-bottom: 1px;
  padding-left: 35px;

  font-size: 14px;

  color: #ffffff;
  background-color: #ee3643;
  transform: rotate(45deg) translate(25px, -15px);
}

.new-category::after {
  right: 3px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;

  margin-top: 0;
  margin-bottom: 0;
  margin-left: -20px;

  padding: 0;
}

.catalog-card-list {
  width: 720px;

  margin-bottom: 52px;
}

.card {
  display: flex;

  width: 218px;

  margin-top: 20px;
  margin-left: 20px;

  border: 1px solid #e5e5e5;
}

.card:hover {
  box-shadow: 0 10px 25px -15px #000000;
}

.card:focus-within {
  box-shadow: 0 10px 25px -15px #000000;
}

.product-card {
  font-family: "PT Sans", "Arial", sans-serif;

  flex-direction: column;
  position: relative;
}

.product-card:hover .order-panel {
  visibility: visible;

  background-color: #ffffff;
}

.order-panel {
  visibility: hidden;

  width: 100%;
  height: 127px;

  padding-top: 43px;

  position: absolute;
  top: 0;
  left: 0;
}

.order-panel-button {
  display: block;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;
  text-decoration: none;

  margin-right: auto;
  margin-bottom: 8px;
  margin-left: auto;

  border-radius: 3px;
}

.buy-button {
  width: 82px;

  text-align: left;

  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 47px;

  color: #ffffff;

  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 0 #367315;
}


.buy-button:hover,
.buy-button:focus {
  background-color: #5fbb2d;
}

.buy-button:active {
  background-color: #518534;
}

.add-to-bookmarks-button {
  width: 118px;

  text-align: center;

  padding-top: 7px;
  padding-right: 5px;
  padding-bottom: 7px;
  padding-left: 5px;

  color: #32425c;

  border: 3px solid #63a63e;
}

.add-to-bookmarks-button:hover,
.add-to-bookmarks-button:focus {
  border-color: #32425c;
}

.add-to-bookmarks-button:active {
  color: #c1c6ce;
  border-color: #c1c6ce;
}

.product-href {
  text-decoration: none;
}

.product-card h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;

  text-align: center;

  margin-top: 9px;
  margin-bottom: 11px;
  padding-left: 27px;
  padding-right: 27px;

  color: #000000;
}

.card-list del {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  text-align: center;
  text-transform: uppercase;

  margin-bottom: 10px;
  padding-left: 27px;
  padding-right: 27px;

  color: #999999;
}

.product-price {
  position: relative;

  text-align: left;
  text-transform: uppercase;

  font-size: 17px;
  font-weight: bold;
  line-height: 38px;

  width: 125px;

  margin-top: auto;
  margin-left: 42px;
  margin-bottom: 20px;
  padding-left: 35px;

  color: #ffffff;
  background-color: #ee3643;

  border-radius: 3px;
}

.product-price::after {
  content: "";
  font-size: 0;

  position: absolute;
  right: 0;

  background-color: #ffffff;
  border: 19px solid transparent;
  border-left-color: #ee3643;
}

.popular-manufacturer-card {
  justify-content: center;
  align-items: center;

  height: 143px;
}

.popular-manufacturer-card:active {
  box-shadow: 0 5px 25px -15px #000000;
  opacity: 0.5;
}

.pagination-list {
  display: flex;

  list-style: none;

  margin-top: 0;
  margin-bottom: 60px;
  padding: 0;
}

.pagination-item {
  margin-right: 9px;
}

.pagination-item a {
  display: block;

  min-width: 27px;

  text-align: center;

  line-height: 18px;

  text-decoration: none;
  text-transform: uppercase;

  padding-top: 9px;
  padding-right: 5px;
  padding-bottom: 9px;
  padding-left: 5px;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border-color: #c3c4c6;
}

.pagination-item a:active {
   border-color: #eb3742;
}

.pagination-item-current a {
  cursor: default;

  color: #ffffff;

  background-color: #ee3643;

  border-color: #ee3643;
}

.pagination-item-next a {
  width: 128px;
}

.services-section {
  margin-top: 85px;
  margin-bottom: 79px;

  background-color: #f4f8fa;
}

.services-section p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;

  margin-top: 0;
}

.services-section-header {
  width: 950px;

  padding-top: 65px;
  padding-left: 10px;
}

.services-section-header .section-header {
  margin-bottom: 26px;
}

.services-section-header p {
  width: 405px;

  margin-bottom: 40px;
}

.services-slider {
  display: flex;

  min-height: 313px;
}

.services-slider-buttons {
  position: relative;

  list-style: none;

  margin-top: 0;
  margin-bottom: auto;
  padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 0;

  background-color: transparent;
}

.services-slider-buttons::after {
  content: "";

  position: absolute;

  width: 10px;

  top: -13px;
  right: 0;
  bottom: -13px;

  background-image: url("../img/shadow-line.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
}

.services-slider-button {
  display: block;

  font-size: 21px;
  font-weight: bold;
  line-height: 30px;

  text-align: left;
  text-transform: none;
  text-decoration: none;

  width: 204px;
  height: 100%;

  padding-top: 14px;
  padding-right: 15px;
  padding-bottom: 18px;
  padding-left: 21px;

  background-color: #32425c;

  color: #ffffff;
}

.services-slider-button:hover,
.services-slider-button:focus {
  background-color: #293449;

  color: #ffffff;
}

.services-slider-button:active,
.services-slider-button-current {
  background-color: #ffffff;

  color: #32425c;
}

.services-slider-slides {
  width: 630px;

  margin-left: auto;
  padding-top: 27px;
}

.services-slider-slides h3 {
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;

  width: 300px;

  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 25px;

  color: #32425c;
}

.services-slider-slide {
  height: 100%;

  background-repeat: no-repeat;
}

.services-slider-slide-1 {
  background-image: url("../img/services-slider-delivery.png");
  background-position: 151px 25px;
}

.services-slider-slide-2 {
  background-image: url("../img/services-slider-guarantee.png");
  background-position: 239px 3px;
}

.services-slider-slide-3 {
  background-image: url("../img/services-slider-credit.png");
  background-position: 165px 1px;
}

.services-slider-slides p {
  width: 378px;

  margin-bottom: 0;
  padding-bottom: 10px;
}

.services-slider-slide-1 p:first-of-type {
  padding-bottom: 0;
}

.credit-button {
  display: block;

  width: 195px;

  margin-top: 16px;

  background-color: #ff5357;
}

.about-us-block {
  position: relative;
  display: flex;
  justify-content: space-between;

  padding-bottom: 86px;
}

.about-us-block .section-header {
  margin-bottom: 26px;
}

.about-us-block p {
  margin-top: 0;
}

.about-us-block .button {
  display: block;
}

.about-us {
  width: 560px;
}

.feature {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;

  color: #000000;
}

.feature {
  margin-bottom: 0;
}

.main-feature {
  margin-bottom: 24px;
}

.partners {
  list-style-type: none;

  margin-top: 16px;
  margin-bottom: 36px;
  padding-left: 36px;
}

.partners li {
  position: relative;

  font-size: 18px;
  line-height: 20px;

  color: #000000;

  margin-bottom: 15px;
  padding-top: 5px;
  padding-right: 10px;
}

.partners li::before {
  content: "";

  position: absolute;

  top: 14px;
  left: -36px;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.more-company-info-button {
  width: 220px;
}

.map {
  width: 300px;
}

.map p {
  width: 200px;

  margin-bottom: 31px;
}

.interactive-map {
  display: flex;

  margin-bottom: 40px;

  background-color: #f5f3ed;
}

.write-us-button {
  width: 300px;
}

.write-us-section {
  display: none;

  width: 620px;

  margin-left: -310px;
}

.write-us-section label {
  display: block;

  font-size: 18px;
  line-height: 18px;

  width: 200px;

  margin-bottom: 9px;
}

.write-us-form-input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-left: -16px;
  padding-top: 34px;
  padding-right: 80px;
  padding-bottom: 16px;
  padding-left: 80px;
}

.write-us-form-input-container p {
  margin-bottom: 21px;
  margin-left: 16px;
}

.write-us-form-input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;

  display: block;

  width: 190px;

  padding-top: 8px;
  padding-right: 13px;
  padding-bottom: 8px;
  padding-left: 13px;

  border: solid 2px #dee3e4;
  border-radius: 3px;
}

.write-us-form-input::placeholder {
  color: #a9a9a9;
}

.write-us-form-textarea-block {
  width: 100%;

  margin-top: 0;
}

.write-us-form-textarea {
  box-sizing: border-box;

  width: 100%;

  resize: none;

  padding-bottom: 12px;
}

.write-us-form-footer {
  display: flex;

  padding-top: 37px;
  padding-right: 13px;
  padding-bottom: 37px;
  padding-left: 13px;

  background-color: #f4f4f4;
}

.write-us-form-submit-button {
  display: block;
  width: 460px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.presentation-text-block {
  background-color: #f2f6f8;

  padding-top: 65px;
  padding-bottom: 68px;
}

.presentation-text-block h2 {
  margin-bottom: 26px;
}

.presentation-text-block p {
  font-family: "PT Sans", "Arial", sans-serif;

  margin: 0;
}

.footer-upper-panel {
  background-color: #32425c;
}

.footer-upper-panel-container {
  display: flex;

  padding-bottom: 46px;
}

.company-info {
  flex-shrink: 0;
  width: 333px;
}

.footer-logo {
  display: block;

  width: 210px;

  padding-top: 20px;
  padding-bottom: 13px;
}

.footer-company-address {
  font-size: 18px;
  line-height: 24px;

  margin-top: 30px;
  margin-bottom: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;

  color: #f3f7f9;
}

.footer-phone-number {
  text-decoration: none;
}

.footer-site-navigation {
  margin-left: auto;

  padding-top: 38px;
}

.footer-site-navigation ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  list-style: none;

  font-size: 18px;
  line-height: 24px;

  margin-bottom: 10px;
  padding-left: 0;
}

.company-info-pages {
  margin-top: 0;
}

.company-info-pages li {
  margin-left: 59px;
}

.company-info-pages a {
  text-decoration: none;
  color: #f1f5f7;
}

.company-info-pages a:hover,
.company-info-pages a:focus {
  text-decoration: underline;
}

.company-info-pages a:active {
  color: #707a8a;

  text-decoration: none;
}

.catalog-pages {
  display: flex;

  margin-top: 33px;
  margin-bottom: 10px;
}

.catalog-pages li {
  margin-left: 60px;
}

.catalog-pages a {
  text-decoration: none;
  color: #ffd180;
}

.catalog-pages a:hover,
.catalog-pages a:focus {
  text-decoration: underline;
}

.catalog-pages a:active {
  color: #a6906e;

  text-decoration: none;
}

.footer-lower-panel {
  background-color: #293449;
}

.footer-lower-panel-container {
  display: flex;

  padding-top: 35px;
  padding-bottom: 27px;
}

.copyright {
  font-size: 16px;
  line-height: 18px;

  color: #ffffff;

  width: 250px;

  margin: 0;
  padding-top: 2px;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  width: 135px;

  margin-top: 0;
  margin-bottom: 0;
  margin-left: 140px;
  padding-left: 0;
}

.social {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 5px 5px 0;
  background-color: #212a3a;
  border-radius: 50%;
}

.social::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social:hover,
.social:focus,
.social:active {
   background-color: #ee3643;
 }

.social-vk::before {
   background-image: url("../img/icon-vk.svg");
 }

.social-fb::before {
   background-image: url("../img/icon-fb.svg");
 }

.social-insta::before {
   background-image: url("../img/icon-insta.svg");
 }

.developer-info-container {
  display: flex;

  width: 290px;

  margin-left: auto;
  padding-top: 1px;
  padding-right: 10px;
}

.developer-info {
  font-size: 16px;
  line-height: 18px;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1px;

  color: #ffffff;
}

.developer-site {
  margin-left: 51px;
}

.developer-info a {
  text-decoration: none;
  color: #ffd180;
}

.developer-info a:hover,
.developer-info a:focus {
  text-decoration: underline;
}

.developer-info a:active {
  color: #ee3643;

  text-decoration: none;
}

.popup-map-section {
  display: none;

  width: 940px;
  height: 446px;

  margin-left: -470px;

  background-color: #eeeae3;

  box-shadow: 0 0 30px -10px #000000;
}

.popup-map-section img {
  position: absolute;
  top: 0;
  left: 0;
}

.popup-map-section iframe {
  position: relative;
  z-index: 1;
  border: none;
}

.popup-map-section .modal-close-button {
  z-index: 2;
}

.popup-added-to-cart-section {
  display: none;
  width: 620px;

  margin-left: -310px;
}

.popup-added-to-cart-section .section-header {
  text-transform: none;
}

.popup-added-to-cart-body {
  display: flex;

  padding-top: 65px;
  padding-right: 60px;
  padding-bottom: 68px;
  padding-left: 179px;

  background-image: url("../img/added-to-cart-icon.png");
  background-repeat: no-repeat;
  background-position: 81px 48px;
}

.popup-added-to-cart-footer {
  display: flex;

  padding-top: 37px;
  padding-right: 80px;
  padding-bottom: 37px;
  padding-left: 80px;

  background-color: #f1f1f1;
}

.popup-added-to-cart-button {
  width: 220px;

  padding-right: 10px;
  padding-left: 10px;
}

.popup-added-to-cart-continue-button {
  margin-left: auto;

  color: #000000;

  background-color: #ffffff;
}

.popup-added-to-cart-continue-button:hover,
.popup-added-to-cart-continue-button:focus {
  color: #ee3643;

  background-color: #ffffff;
}

.popup-added-to-cart-continue-button:active {
  color: #cacaca;

  background-color: #ffffff;
}

.modal-header {
  position: relative;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
  position: fixed;

  top: 120px;
  left: 50%;

  z-index: 2;
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-window {
  background-color: #ffffff;

  border-top: solid 7px #ff5257;

  box-shadow: 0 20px 60px -15px #000000;
}

.modal-close-button {
  position: absolute;

  top: 6px;
  right: 6px;

  width: 26px;
  height: 26px;

  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.modal-close-button::before,
.modal-close-button::after {
  content: "";

  position: absolute;

  top: 11px;
  right: 0;

  width: 26px;
  height: 4px;

  background-color: #ee3643;
}

.modal-close-button::before {
  transform: rotate(45deg);
}

.modal-close-button::after {
  transform: rotate(-45deg);
}

.modal-close-button:hover::before,
.modal-close-button:hover::after,
.modal-close-button:focus::before,
.modal-close-button:focus::after {
  background-color: #ca2c37;
}

.modal-close-button:active::before,
.modal-close-button:active::after {
  background-color: #ba2732;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  /*
  position: fixed;
  right: 200vw; /* с запасом на случай горизонтальных флуктуаций при анимациях
  */
}
