body {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

a {
  color: inherit;
}

.button {
  font: inherit;
  font-size: 14px;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  border: none;

  background-color: #ee3643;
  color: #ffffff;
}

.button:hover {
  background-color: #212a3a;
}

.container {
  width: 940px;

  margin: 0 auto;
  padding: 0 10px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f7f9;

  width: 100%;
}

.header-menu {
  width: 100%;

  margin-bottom: 46px;

  font-size: 17px;
  line-height: 42px;

  color: #ffffff;
  background-color: #293449;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;

  text-align: center;

  width: 220px;
}

.header-logo:hover,
.header-logo:focus {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.header-logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.search-input {
  font-family: inherit;
  font-size: 17px;

  width: 270px;
  height: 42px;

  background-color: transparent;
  border: none;
}

.search-input::placeholder {
  color: #ffffff;
}

.search-input:hover {
  background-color: #212a3a;
}

.search-input:active {
  background-color: #293449;
}

.search-input:focus {
  background-color: #ffffff;
  color: #000000;
}

.header-menu-button {
  font-size: 17px;

  width: 150px;

  text-decoration: none;
  text-transform: none;

  background-color: #293449;
}

.header-menu-button:hover,
.header-menu-button:focus {
  background-color: #212a3a;
}

.header-menu-button:active {
  color: #b3b4b6;
  background-color: #161d29;
}

.header-cart-not-empty {
  background-color: #ee3643;
}

.order-button {
  font-size: 18px;
  text-transform: none;
  background-color: #63a63e;

  width: 150px;
}

.order-button:hover,
.order-button:focus {
  background-color: #5fbb2d;
}

.order-button:active {
  color: #b6c8ae;
  background-color: #518534;
}

.header-middle {
  display: flex;

  margin-bottom: 40px;
}

.introduction {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;

  margin: 0;
  padding-top: 7px;
  padding-left: 50px;
  padding-right: 30px;

  width: 220px;

  color: #ee3643;
}

.contacts {
  width: 270px;

  padding-left: 20px;
  padding-right: 20px;
}

.header-phone-number {
  display: block;

  font-size: 21px;
  line-height: 40px;

  text-align: center;
  text-decoration: none;

  width: 254px;

  padding-left: 10px;

  color: #ee3643;

  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 15px center;

  border: 4px solid #ffffff;
}

.header-company-address {
  font-size: 14px;
  line-height: 24px;

  margin-top: 5px;
  margin-bottom: 0;

  color: #32425c;
}

.user-account-buttons {
  width: 290px;

  padding-left: 40px;
}

.user-account-buttons-offline {
  display: flex;
}

.user-account-buttons-online {
  width: 300px;

  padding-left: 30px;
}

.user-account-button {
  display: block;

  text-align: center;
  text-transform: none;
  text-decoration: none;

  font-size: 21px;
  line-height: 45px;

  margin-left: 10px;

  color: #000000;
  background-color: #ffffff;
  background-repeat: no-repeat;
}

.enter-button {
  position: relative;

  padding-left: 28px;

  width: 93px;
  height: 45px;

  background-image: url("../img/icon-login.svg");
  background-position: 15px center;
}

.registration-button {
  width: 150px;
  height: 45px;
}

.account-settings-button {
  width: 220px;

  text-align: left;

  margin: 0;
  padding-left: 45px;
  padding-right: 5px;

  background-image: url("../img/icon-user.svg");
  background-position: 15px center;
}

.logout-button {
  width: 45px;

  margin-left: 0;

  background-image: url("../img/icon-logout.svg");
  background-position: center;
}

.user-account-button:hover,
.user-account-button:focus {
  color: #ee3643;
}

.user-account-button:active {
  color: #cacaca;
}

.user-upper-panel {
  display: flex;
}

.user-upper-panel a {
  text-decoration: none;
  color: #000000;
}

.user-upper-panel a:hover,
.user-upper-panel a:focus {
  color: #32425c;
}

.user-upper-panel a:active {
  color: #c5c5c5;
}

.user-lower-panel a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;

  color: #32425c;
}

.user-lower-panel a:hover,
.user-lower-panel a:focus {
  color: #ee3643;
}

.user-lower-panel a:active {
  color: #c5c5c5;
}

.header-site-navigation {
  margin-bottom: 60px;
}

.site-pages {
  display: flex;
  justify-content: space-between;

  list-style: none;

  font-size: 17px;

  margin: 0;
  padding-left: 20px;
  padding-right: 20px;

  color: #ffffff;
  background-color: #32425c;

  box-shadow: inset 0 -5px 0 0 #293449;
}

.site-pages a {
  display: block;

  line-height: 60px;

  text-align: center;
  text-decoration: none;

  padding-left: 25px;
  padding-right: 25px;

  color: #ffffff;
}

.site-pages a:hover,
.site-pages a:focus {
  background-color: #293449;
}

.site-pages a:active {
  background-color: #1d2739;
}

.breadcrumbs {
  list-style: none;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;

  color: #000000;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs a {
  text-decoration: none;

  color: #000000;
}

.catalog-menu {
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.new {
  position: relative;
  overflow: hidden;
}

.new::after {
  content: "new";
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 35px;
  padding-right: 35px;

  font-size: 14px;

  color: #ffffff;
  background-color: #ee3643;
  transform: rotate(45deg) translate(25px, -15px);
}

.catalog-menu h2 {
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;

  color: #32425c;
  background-color: #f2f6f8;
}

.buy-button,
.bookmark-button {
  font-family: 'Cuprum', sans-serif;

  border-radius: 1px;
}

.buy-button {
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.buy-button:hover,
.buy-button:focus {
  background-color: #5fbb2d;
}

.buy-button:active {
  background-color: #518534;
}

.bookmark-button {
  color: #32425c;
  background-color: #ffffff;

  border: 3px solid #63a63e;
}

.bookmark-button:hover,
.bookmark-button:focus {
  background-color: #ffffff;
  border-color: #32425c;
}

.bookmark-button:active {
  color: #c1c6ce;
  background-color: #ffffff;
  border-color: #c1c6ce;
}

.filter legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;

  color: #000000;
}

.filter fieldset {
  border: none;
}

.filter ul{
  list-style: none;
}

.filter-list li {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-button {
  font-size: 13px;

  color: #000000;
  background-color: #ffffff;

  border: 1px solid #e5e5e5;
  border-radius: 1px;
}

.product {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 220px;

  margin-top: 20px;
  margin-right: 20px;

  border: 1px solid #e5e5e5;
}

.product:hover,
.product:focus-within {
  box-shadow: 0 10px 25px -15px #000000;
}

.product:hover .order-panel {
  visibility: visible;

  background-color: #ffffff;
}

.order-panel {
  visibility: hidden;

  width: 100%;
  height: 170px;

  position: absolute;
  top: 0;
  left: 0;
}

.product h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;

  color: #000000;
}

.product-href {
  text-decoration: none;
}

.product-list del {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  color: #999999;
}

.product-price {
  position: relative;
  text-align: center;

  font-size: 17px;
  font-weight: bold;
  line-height: 38px;

  width: 160px;

  color: #ffffff;
  background-color: #ee3643;
}

.product-price:after {
  content: "";
  font-size: 0;

  position: absolute;
  right: 0;

  background-color: #ffffff;
  border: 19px solid transparent;
  border-left-color: #ee3643;
}

.company-name {
  font-size: 30px;
  line-height: 30px;

  text-transform: uppercase;
  color: #000000;
}

.features,
.map p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;

  color: #000000;
}

.partners {
  list-style-type: none;
}

.partners li {
  font-size: 18px;
  line-height: 20px;

  color: #000000;
}

.map-header {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;

  color: #000000;
}

.footer-company-info {
  background-color: #32425c;
}

.footer-logo {
  display: flex;
}

.footer-logo a {
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 #b52933;

  padding: 16px 41px 20px;
}

.footer-company-address {
  font-size: 18px;
  line-height: 24px;

  color: #f3f7f9;
}

.footer-phone-number {
  text-decoration: none;
}

.footer-site-navigation ul {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.company-info-pages li {
  display: inline-block;
}

.company-info-pages a {
  text-decoration: none;
  color: #f1f5f7;
}

.company-info-pages a:hover,
.company-info-pages a:focus {
  text-decoration: underline;
}

.company-info-pages a:active {
  color: #707a8a;
}

.catalog-pages li {
  display: inline-block;
}

.catalog-pages a {
  text-decoration: none;
  color: #ffd180;
}

.catalog-pages a:hover,
.catalog-pages a:focus {
  text-decoration: underline;
}

.catalog-pages a:active {
  color: #a6906e;
}

.footer-copyright-social-feedback {
  background-color: #293449;
  margin-top: -18px;
}

.copyright {
  font-size: 16px;
  line-height: 18px;

  color: #ffffff;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.social {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 5px 5px 0;
  background-color: #212a3a;
  border-radius: 50%;
}

.social::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social:hover,
.social:focus,
.social:active {
   background-color: #ee3643;
 }

.social-vk::before {
   background-image: url("../img/icon-vk.svg");
 }

.social-fb::before {
   background-image: url("../img/icon-fb.svg");
 }

.social-insta::before {
   background-image: url("../img/icon-insta.svg");
 }

.developer-info {
  font-size: 16px;
  line-height: 18px;

  color: #ffffff;
}

.developer-info a {
  text-decoration: none;
  color: #ffd180;
}

.developer-info a:hover,
.developer-info a:focus {
  text-decoration: underline;
}

.developer-info a:active {
  color: #ee3643;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  /*
  position: fixed;
  right: 200vw; /* с запасом на случай горизонтальных флуктуаций при анимациях
  */
}
